  <header class="navbar" id="desktopView">
      <ul class="nav-container">
        <li><a href="#menu">Menu</a></li>
        <li><a href="#dine">About Us</a></li>
        <li class="logo">
     <span class="logo-left">Manam</span>
     <img src="../../assets/manam_logo.png" style="height: 35px;object-fit: contain;" alt="logo">
        <span class="logo-right">Canteen</span>
        </li>
         <li><a href="#reservation">Contact Us</a></li>
        <li><a href="#service">Service</a></li>
      </ul>
  </header>
    <header class="navbar" id="mobileView">
        <div class="nav-container">
            <a href="#" class="logo">
                 <span class="logo-left">Manam</span>
     <img src="../../assets/manam_logo.png" style="height: 35px;object-fit: contain;" alt="logo">
        <span class="logo-right">Canteen</span>
            </a>
            
        
 <input type="checkbox" id="menu-toggle" class="menu-toggle" />
  <label for="menu-toggle" class="hamburger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </label>

  <!-- Mobile Menu -->
  <nav class="mobile-menu">
    <a href="#menu">Menu</a>
    <a href="#dine">About us</a>
    <a href="#contact">Contact us</a>
        <a href="#service">Service</a>

  </nav>

  <!-- Overlay -->
  <label for="menu-toggle" class="overlay"></label>

        </div>
    </header>

