  <footer class="footer" id="contact">
      <div class="social-icons">
        <div>
          <a href="https://www.facebook.com/share/16r88xNf2Q/" target="_blank">
         <img src="assets/fb_logo.svg" alt="">
          </a>
        

        </div>
        <div>
          <a href="https://www.instagram.com/manamcanteen?igsh=MXhxOTRscGtudW1hbw==" target="_blank">
          <img src="assets/insta_logo.svg" alt="">

          </a>
        </div>
      </div>

          <div class="footer-container">
        <img src="assets/footer_left.svg" alt="footer left" class="footer-left">
        <img src="assets/footer_right.svg" alt="footer right" class="footer-right">

        <div >
            <h1 class="manam-title">Manam <span class="icon"><img src="assets/manam_logo.png" style="height: 35px;object-fit: contain;" alt="logo"></span> Canteen</h1>
             <span class="canada-title">Canada</span>
        </div>

        <div class="back-to-top" >
            <a href="#home" style="cursor: pointer;">
                <span class="arrow-up"></span>
                Back to top
            </a>
        </div>
    </div>
    </footer>